#para1{
    font-size:125%;
}

#para{
    margin-left: 15px;
}

#bluebtn{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #afad4c;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

#redbtn{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #afad4c;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

#form1{
    margin-left: 15px;
    
}

#submit{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #af574c;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}